* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 1rem;
  font-size: 3rem;
  height: 100vh;
  width: 100vw;
  gap: 0.5rem;
}



